@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-netflix-black text-white overflow-x-hidden font-sans;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}